<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Transportation App</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" href="css/ki.css" />
</head>

<body>

    <script src="/build/static/main.bundle.js"></script>

    <script>
        $( document ).ready(function() {
            $("style").remove();
        });
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/sw.js', {
                scope: '/'
            }).then(function(reg) {

                if (reg.installing) {
                    console.log('installing');
                } else if (reg.waiting) {
                    console.log('installed');
                } else if (reg.active) {
                    console.log('active');
                }
            }).catch(function(error) {
                console.log(error);
            });
        }
    </script>
</body>

</html>